@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #f8fafc;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Page Content */
/* .page-content {
  margin: 20px 0;
} */

.page-content h2,
.page-content h3 {
  margin: 20px 0;
}

.page-content h2 {
  font-size: 40px;
}

.page-content h3 {
  font-size: 25px;
}

.btn {
  @apply bg-primary text-bases tracking-widest hover:translate-x-2;
}
