---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About Alessandro'>
  <section>
    <div class='container'>
      <h1>Alessandro Giuzio</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure magnam,
        corporis dicta praesentium ab, nulla omnis ipsa excepturi, harum
        provident nihil delectus exercitationem amet fugiat quis maxime dolore
        placeat culpa tempore laborum. Dolor porro minima magnam, quasi
        veritatis voluptate, tempore velit ipsa distinctio tenetur temporibus
        aperiam? Debitis suscipit perferendis illo corporis ut qui odit, cum
        corrupti sint porro non reprehenderit deserunt quasi vel ab architecto
        hic soluta dolores nulla amet iure. Aliquam enim itaque optio possimus
        quasi minus, molestias, architecto, vitae porro nesciunt id officia
        delectus. Eligendi non totam incidunt tempore. Culpa magnam sunt
        repudiandae dicta aliquam. Iste, adipisci animi?
      </p>
    </div>
  </section>
</Layout>
