---
import imgss from '../img/blog7.jpg';
---

<div class='bg-white border rounded-lg overflow-hidden max-w-xs'>
  <img src={imgss} alt='' class='mx-auto' />
  <div class='p-6'>
    <h4 class='font-semibold text-xl'>My title</h4>
    <div class='text-gray-600 text-xs uppercase font-semibold tracking-widest'>
      <p>Content</p>
    </div>
    <div>
      <p>author</p>
      <p>date</p>
    </div>
  </div>
</div>
