<footer>
  <div class='container border-2 border-purple-700'>
    <!-- copyright -->
    <p class='text-center pt-8'>
      <small>
        &copy; 2019-2022 <a href='https://www.giuzio.me'>Alessandro Giuzio</a>
      </small>
    </p>
  </div>
</footer>
