---
import profilePic from '../img/profile.jpg';

export interface Props {
  text?: string;
  link?: string;
}

const { link = '/about', text = 'About' } = Astro.props as Props;
---

<header class='h-[70px]'>
  <div class='container flex justify-between items-center h-full py-0 px-5'>
    <div class='logo flex items-center gap-4'>
      <img
        src={profilePic}
        alt='Alessandro rouded profile picture'
        class='w-14 rounded-full align-middle'
        title='Alessandro Giuzio'
      />
      <h1 class='text-xl md:text-4xl font-bold leading-10 text-warning'>
        Alessandro Blog
      </h1>
    </div>
    <nav>
      <ul class='flex gap-2 text-basees md:text-xl text-warning'>
        <li class='py-0 px-3'>
          <a href={link}>{text}</a>
        </li>
        <!--  <li class='py-0 px-3'>
          <a href='/contact'>Contact</a>
        </li> -->
      </ul>
      <!-- dark mode button -->
    </nav>
  </div>
</header>
