---
const cardsData = [
  {
    heading: 'titolo card 1',
    text: 'Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Vivamus laoreet.',
    image: blogImg,
  },
  {
    heading: 'titolo card 2',
    text: 'Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Vivamus laoreet.',
    image: blogImg1,
  },
  {
    heading: 'titolo card 3',
    text: 'Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Vivamus laoreet.',
    image: blogImg2,
  },
  /*   {
    heading: 'titolo card 4',
    text: 'Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Vivamus laoreet.',
    image: blogImg2,
  }, */
];
import CardArticle from './CardArticle.astro';
import blogImg from '../img/blog4.jpg';
import blogImg1 from '../img/blog5.jpg';
import blogImg2 from '../img/blog6.jpg';
---

<section>
  <div class='max-w-3xl p-4 pb-10'>
    <div>
      {
        cardsData.map(cardData => (
          <CardArticle
            heading={cardData.heading}
            text={cardData.text}
            image={cardData.image}
          />
        ))
      }
    </div>
  </div>
</section>
